@font-face{
	font-family : "Panorama ExtraCondensed-Thin";
	src : url("../fonts/SUBSET/panoramaweb-xcn-ultralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-ultralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-ExtraLight";
	src : url("../fonts/SUBSET/panoramaweb-xcn-extralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-extralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-Light";
	src : url("../fonts/SUBSET/panoramaweb-xcn-lite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-lite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-Regular";
	src : url("../fonts/SUBSET/panoramaweb-xcn-regular-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-regular-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-SemiBold";
	src : url("../fonts/SUBSET/panoramaweb-xcn-semibold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-semibold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-Bold";
	src : url("../fonts/SUBSET/panoramaweb-xcn-bold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-bold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-Black";
	src : url("../fonts/SUBSET/panoramaweb-xcn-blak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-blak-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-Ultra";
	src : url("../fonts/SUBSET/panoramaweb-xcn-ultrablak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-ultrablak-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama SemiCondensed-Thin";
	src : url("../fonts/SUBSET/panoramaweb-semcn-ultralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-ultralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-ExtraLight";
	src : url("../fonts/SUBSET/panoramaweb-semcn-extralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-extralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-Light";
	src : url("../fonts/SUBSET/panoramaweb-semcn-lite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-lite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-Regular";
	src : url("../fonts/SUBSET/panoramaweb-semcn-regular-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-regular-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-SemiBold";
	src : url("../fonts/SUBSET/panoramaweb-semcn-semibold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-semibold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-Bold";
	src : url("../fonts/SUBSET/panoramaweb-semcn-bold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-bold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-Black";
	src : url("../fonts/SUBSET/panoramaweb-semcn-blak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-blak-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-Ultra";
	src : url("../fonts/SUBSET/panoramaweb-semcn-ultrablak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-ultrablak-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama Condensed-Thin";
	src : url("../fonts/SUBSET/panoramaweb-cn-ultralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-ultralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-ExtraLight";
	src : url("../fonts/SUBSET/panoramaweb-cn-extralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-extralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-Light";
	src : url("../fonts/SUBSET/panoramaweb-cn-lite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-lite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-Regular";
	src : url("../fonts/SUBSET/panoramaweb-cn-regular-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-regular-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-SemiBold";
	src : url("../fonts/SUBSET/panoramaweb-cn-semibold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-semibold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-Bold";
	src : url("../fonts/SUBSET/panoramaweb-cn-bold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-bold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-Black";
	src : url("../fonts/SUBSET/panoramaweb-cn-blak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-blak-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-Ultra";
	src : url("../fonts/SUBSET/panoramaweb-cn-ultrablak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-ultrablak-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama Thin";
	src : url("../fonts/SUBSET/panoramaweb-ultralight-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ultralight-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraLight";
	src : url("../fonts/SUBSET/panoramaweb-extralight-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-extralight-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Light";
	src : url("../fonts/SUBSET/panoramaweb-light-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-light-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Regular";
	src : url("../fonts/SUBSET/panoramaweb-regular-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-regular-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiBold";
	src : url("../fonts/SUBSET/panoramaweb-semibold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semibold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Bold";
	src : url("../fonts/SUBSET/panoramaweb-bold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-bold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Black";
	src : url("../fonts/SUBSET/panoramaweb-black-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-black-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Ultra";
	src : url("../fonts/SUBSET/panoramaweb-ultrablack-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ultrablack-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama Wide-Thin";
	src : url("../fonts/SUBSET/panoramaweb-ext-ultralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-ultralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-ExtraLight";
	src : url("../fonts/SUBSET/panoramaweb-ext-extralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-extralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-Light";
	src : url("../fonts/SUBSET/panoramaweb-ext-lite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-lite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-Regular";
	src : url("../fonts/SUBSET/panoramaweb-ext-regular-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-regular-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-SemiBold";
	src : url("../fonts/SUBSET/panoramaweb-ext-semibold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-semibold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-Bold";
	src : url("../fonts/SUBSET/panoramaweb-ext-bold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-bold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-Black";
	src : url("../fonts/SUBSET/panoramaweb-ext-blak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-blak-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-Ultra";
	src : url("../fonts/SUBSET/panoramaweb-ext-ultrablak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-ultrablak-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama ExtraExtended-Thin";
	src : url("../fonts/SUBSET/panoramaweb-xext-ultralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-ultralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-ExtraLight";
	src : url("../fonts/SUBSET/panoramaweb-xext-extralite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-extralite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-Light";
	src : url("../fonts/SUBSET/panoramaweb-xext-lite-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-lite-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-Regular";
	src : url("../fonts/SUBSET/panoramaweb-xext-regular-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-regular-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-SemiBold";
	src : url("../fonts/SUBSET/panoramaweb-xext-semibold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-semibold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-Bold";
	src : url("../fonts/SUBSET/panoramaweb-xext-bold-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-bold-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-Black";
	src : url("../fonts/SUBSET/panoramaweb-xext-blak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-blak-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-Ultra";
	src : url("../fonts/SUBSET/panoramaweb-xext-ultrablak-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-ultrablak-s.woff") format("woff");
}


.C1G1{ font-family: "Panorama ExtraCondensed-Thin", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#3F89DB; } 
.C1G2{ font-family: "Panorama ExtraCondensed-ExtraLight", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5076BE; } 
.C1G3{ font-family: "Panorama ExtraCondensed-Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5E679D; } 
.C1G4{ font-family: "Panorama ExtraCondensed-Regular", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#70578D; } 
.C1G5{ font-family: "Panorama ExtraCondensed-SemiBold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#824774; } 
.C1G6{ font-family: "Panorama ExtraCondensed-Bold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#97365B; } 
.C1G7{ font-family: "Panorama ExtraCondensed-Black", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#AC2544; } 
.C1G8{ font-family: "Panorama ExtraCondensed-Ultra", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#C1142F; } 

.C2G1{ font-family: "Panorama Condensed-Thin", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#497DC8; } 
.C2G2{ font-family: "Panorama Condensed-ExtraLight", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5B6AA9; } 
.C2G3{ font-family: "Panorama Condensed-Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#6D5990; } 
.C2G4{ font-family: "Panorama Condensed-Regular", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#804976; } 
.C2G5{ font-family: "Panorama Condensed-SemiBold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#94395D; } 
.C2G6{ font-family: "Panorama Condensed-Bold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#A82A48; } 
.C2G7{ font-family: "Panorama Condensed-Black", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#BA1B36; } 
.C2G8{ font-family: "Panorama Condensed-Ultra", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#D20021; } 

.C3G1{ font-family: "Panorama SemiCondensed-Thin", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#4682D0; } 
.C3G2{ font-family: "Panorama SemiCondensed-ExtraLight", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5571B5; } 
.C3G3{ font-family: "Panorama SemiCondensed-Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#665F9A; } 
.C3G4{ font-family: "Panorama SemiCondensed-Regular", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#775082; } 
.C3G5{ font-family: "Panorama SemiCondensed-SemiBold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#8A3669; } 
.C3G6{ font-family: "Panorama SemiCondensed-Bold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#9F3052; } 
.C3G7{ font-family: "Panorama SemiCondensed-Black", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#B1223E; } 
.C3G8{ font-family: "Panorama SemiCondensed-Ultra", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#CA0C28; } 

.C4G1{ font-family: "Panorama Thin", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5075BC; } 
.C4G2{ font-family: "Panorama ExtraLight", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#65619C; } 
.C4G3{ font-family: "Panorama Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#765184; } 
.C4G4{ font-family: "Panorama Regular", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#87446E; } 
.C4G5{ font-family: "Panorama SemiBold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#9A3457; } 
.C4G6{ font-family: "Panorama Bold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#B12134; } 
.C4G7{ font-family: "Panorama Black", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#C60F2B; } 
.C4G8{ font-family: "Panorama Ultra", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#D9001C; } 

.C5G1{ font-family: "Panorama Wide-Thin", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5C6BAA; } 
.C5G2{ font-family: "Panorama Wide-ExtraLight", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#6A5D95; } 
.C5G3{ font-family: "Panorama Wide-Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#7C4C7B; } 
.C5G4{ font-family: "Panorama Wide-Regular", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#8F3D64; } 
.C5G5{ font-family: "Panorama Wide-SemiBold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#A02F50; } 
.C5G6{ font-family: "Panorama Wide-Bold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#B42037; } 
.C5G7{ font-family: "Panorama Wide-Black", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#CE0324; } 
.C5G8{ font-family: "Panorama Wide-Ultra", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#E30015; } 

.C6G1{ font-family: "Panorama ExtraExtended-Thin", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#5E66A4; } 
.C6G2{ font-family: "Panorama ExtraExtended-ExtraLight", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#71558A; } 
.C6G3{ font-family: "Panorama ExtraExtended-Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#864570; } 
.C6G4{ font-family: "Panorama ExtraExtended-Regular", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#95365B; } 
.C6G5{ font-family: "Panorama ExtraExtended-SemiBold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#AC2544; } 
.C6G6{ font-family: "Panorama ExtraExtended-Bold", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#B61E3A; } 
.C6G7{ font-family: "Panorama ExtraExtended-Black", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#D7001D; } 
.C6G8{ font-family: "Panorama ExtraExtended-Ultra", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; color:#EE000E; } 

