@font-face{
	font-family : "Panorama ExtraCondensed-ThinItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-ultraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-ultraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-ExtraLightItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-extraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-extraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-LightItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-liteitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-liteitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-Italic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-italic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-italic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-SemiBoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-semiboldit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-semiboldit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-BoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-bolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-bolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-BlackItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-blakitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-blakitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraCondensed-UltraItalic";
	src : url("../fonts/SUBSET/panoramaweb-xcn-ultrablakit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xcn-ultrablakit-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama SemiCondensed-ThinItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-ultraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-ultraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-ExtraLightItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-extraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-extraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-LightItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-liteitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-liteitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-Italic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-italic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-italic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-SemiBoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-semiboldit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-semiboldit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-BoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-bolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-bolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-BlackItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-blakitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-blakitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiCondensed-UltraItalic";
	src : url("../fonts/SUBSET/panoramaweb-semcn-ultrablakit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semcn-ultrablakit-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama Condensed-ThinItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-ultraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-ultraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-ExtraLightItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-extraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-extraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-LightItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-liteitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-liteitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-Italic";
	src : url("../fonts/SUBSET/panoramaweb-cn-italic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-italic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-SemiBoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-semiboldit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-semiboldit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-BoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-bolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-bolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-BlackItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-blakitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-blakitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Condensed-UltraItalic";
	src : url("../fonts/SUBSET/panoramaweb-cn-ultrablakit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-cn-ultrablakit-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama ThinItalic";
	src : url("../fonts/SUBSET/panoramaweb-ultralightitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ultralightitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraLightItalic";
	src : url("../fonts/SUBSET/panoramaweb-extralightitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-extralightitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama LightItalic";
	src : url("../fonts/SUBSET/panoramaweb-lightitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-lightitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Italic";
	src : url("../fonts/SUBSET/panoramaweb-italic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-italic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama SemiBoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-semibolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-semibolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama BoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-bolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-bolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama BlackItalic";
	src : url("../fonts/SUBSET/panoramaweb-blackitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-blackitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama UltraItalic";
	src : url("../fonts/SUBSET/panoramaweb-ultrablackitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ultrablackitalic-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama Wide-ThinItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-ultraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-ultraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-ExtraLightItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-extraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-extraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-LightItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-liteitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-liteitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-Italic";
	src : url("../fonts/SUBSET/panoramaweb-ext-italic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-italic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-SemiBoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-semiboldit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-semiboldit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-BoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-bolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-bolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-BlackItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-blakitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-blakitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama Wide-UltraItalic";
	src : url("../fonts/SUBSET/panoramaweb-ext-ultrablakit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-ext-ultrablakit-s.woff") format("woff");
}




@font-face{
	font-family : "Panorama ExtraExtended-ThinItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-ultraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-ultraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-ExtraLightItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-extraliteit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-extraliteit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-LightItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-liteitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-liteitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-Italic";
	src : url("../fonts/SUBSET/panoramaweb-xext-italic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-italic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-SemiBoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-semiboldit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-semiboldit-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-BoldItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-bolditalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-bolditalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-BlackItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-blakitalic-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-blakitalic-s.woff") format("woff");
}
@font-face{
	font-family : "Panorama ExtraExtended-UltraItalic";
	src : url("../fonts/SUBSET/panoramaweb-xext-ultrablakit-s.eot?") format("eot"),
	url("../fonts/SUBSET/panoramaweb-xext-ultrablakit-s.woff") format("woff");
}



.C1G1 span.italic { font-family: "Panorama ExtraCondensed-ThinItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G2 span.italic { font-family: "Panorama ExtraCondensed-ExtraLightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G3 span.italic { font-family: "Panorama ExtraCondensed-LightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G4 span.italic { font-family: "Panorama ExtraCondensed-Italic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G5 span.italic { font-family: "Panorama ExtraCondensed-SemiBoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G6 span.italic { font-family: "Panorama ExtraCondensed-BoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G7 span.italic { font-family: "Panorama ExtraCondensed-BlackItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C1G8 span.italic { font-family: "Panorama ExtraCondensed-UltraItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 

.C2G1 span.italic { font-family: "Panorama Condensed-ThinItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G2 span.italic { font-family: "Panorama Condensed-ExtraLightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G3 span.italic { font-family: "Panorama Condensed-LightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G4 span.italic { font-family: "Panorama Condensed-Italic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G5 span.italic { font-family: "Panorama Condensed-SemiBoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G6 span.italic { font-family: "Panorama Condensed-BoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G7 span.italic { font-family: "Panorama Condensed-BlackItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C2G8 span.italic { font-family: "Panorama Condensed-UltraItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 

.C3G1 span.italic { font-family: "Panorama SemiCondensed-ThinItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G2 span.italic { font-family: "Panorama SemiCondensed-ExtraLightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G3 span.italic { font-family: "Panorama SemiCondensed-LightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G4 span.italic { font-family: "Panorama SemiCondensed-Italic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G5 span.italic { font-family: "Panorama SemiCondensed-SemiBoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G6 span.italic { font-family: "Panorama SemiCondensed-BoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G7 span.italic { font-family: "Panorama SemiCondensed-BlackItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C3G8 span.italic { font-family: "Panorama SemiCondensed-UltraItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 

.C4G1 span.italic { font-family: "Panorama ThinItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G2 span.italic { font-family: "Panorama ExtraLightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G3 span.italic { font-family: "Panorama LightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G4 span.italic { font-family: "Panorama Italic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G5 span.italic { font-family: "Panorama SemiBoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G6 span.italic { font-family: "Panorama BoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G7 span.italic { font-family: "Panorama BlackItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C4G8 span.italic { font-family: "Panorama UltraItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 

.C5G1 span.italic { font-family: "Panorama Wide-ThinItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G2 span.italic { font-family: "Panorama Wide-ExtraLightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G3 span.italic { font-family: "Panorama Wide-LightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G4 span.italic { font-family: "Panorama Wide-Italic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G5 span.italic { font-family: "Panorama Wide-SemiBoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G6 span.italic { font-family: "Panorama Wide-BoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G7 span.italic { font-family: "Panorama Wide-BlackItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C5G8 span.italic { font-family: "Panorama Wide-UltraItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 

.C6G1 span.italic { font-family: "Panorama ExtraExtended-ThinItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G2 span.italic { font-family: "Panorama ExtraExtended-ExtraLightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G3 span.italic { font-family: "Panorama ExtraExtended-LightItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G4 span.italic { font-family: "Panorama ExtraExtended-Italic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G5 span.italic { font-family: "Panorama ExtraExtended-SemiBoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G6 span.italic { font-family: "Panorama ExtraExtended-BoldItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G7 span.italic { font-family: "Panorama ExtraExtended-BlackItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 
.C6G8 span.italic { font-family: "Panorama ExtraExtended-UltraItalic", sans-serif; font-weight:normal; font-style:normal; font-variant:normal; } 

