#debug{
    padding: 20px;
    color: white;
    position: fixed;
    right:0;
    bottom: 0;
    width:100px;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size: 9px;
    z-index: 888888;
    background-color: #333;
    display: none;
}
#debug span { float:right; margin:0;}

@font-face{
    font-family : "symbols";
    src : url("../fonts/prodymbols-regular.eot?") format("eot"),
    url("../fonts/prodymbols-regular.woff") format("woff");
}
.icon{ 
font-family: "symbols"; color:#dc0a00; 
position: relative;
top: 0;
display: inline-block;
padding-top: 0!important;
padding-bottom: 0!important;
-webkit-font-smoothing: antialiased;
font-style: normal;
font-weight: 400;
line-height: 1;
} 
.glyphicon-play:before{content:"\e071"}

body,
html {
    height: 100%;
    width:100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.enter:hover .explore {
    fill: red;
    cursor: pointer;
}
.enter:hover .explore_title > path {
    fill: white;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Panorama Regular", Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size: 75%;
    color: black;
    overflow-x: hidden;
}

#javascriptKo {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 20% 0;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
    background-color: red;
}

#rideau {
    z-index: 10000000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}

::selection { background: #ED1C24; color:#FFF; }
::-moz-selection { background: #ED1C24; color:#FFF; }
::-webkit-selection { background:#ED1C24; color:#FFF; }

.blanc {
    color:white;
}
.rouge {
    color:#dc0a00;
}
.bleu {
    color:#0078f5;
}

.jaune {
    color: #ffe600;
}
.vert {
    color: #3a844a;
}
.gris {
    color: #808080;
}
.noir {
    color: #000;
}


.BGblanc {
    background-color:white;
}
.BGrouge {
    background-color:#dc0a00;
}
.BGbleu {
    background-color:#0078f5;
}

.BGjaune {
    background-color: #ffe600;
}
.BGvert {
    background-color: #3a844a;
}
.BGgris {
    background-color: #808080;
}

.border {
    border: 1px solid black;
}

.borderBlanc {
    border-color:white;
}
.borderRouge {
    border-color:#dc0a00;
}
.borderBleu {
    border-color:#0078f5;
}

.borderJaune {
    border-color: #ffe600;
}
.borderVert {
    border-color: #3a844a;
}
.borderGris {
    border-color: #808080;
}

.left {
float: left;
}
.right {
float: right;
}
.pa1 {
    padding: 10px;
}

#wrap {
    height: 100%;
}

#conteneurNavigator,
#conteneurLiveTest {
    height: 100%;
    width: 100%;
}

#conteneurNavigator {
    overflow: hidden;
}


#menu_lateral {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0; /* ----------- */
    padding: 10px;
}

.wrap-menu {
    width: 300px;
}

#logo {
    background-image: url('../img/logo.png');
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    margin-right: 10px;
    height: 40px;
}


.BTN {
    width: 48%;
    cursor: pointer;
    text-align: center;
}

#menu1 li, .btn {
    padding: 12px 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    display: inline-block;
}

#menu1, #menu2, #menu3, #collection, #ui_fonttesteur {

}

#menu2 li, .btn-2, .btn-left {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1em;
    display: inline-block;
}
#menu li.on { cursor: default; }

#menu li.on,
#menu1 li:hover,
.btn:hover {
    color: #FFF;
    background-color: #FF1D25;
}
#menu2 { 
    background-color: white;
    /* padding: 10px; */
}
#menu2 .BTN , #menu4 .BTN {
    width: auto;
}
#menu2 li:hover {
    color: #FFF;
    background-color: #3FA9F5;
}

#menu3 { display:none; padding:5px 0 0 3px; cursor:pointer; margin-left: 10px; }
#menu3 ul { float: left; width: 220px; }
#menu3 li {
    width:12%;
    float:left;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    transition: color 300ms;
    -webkit-transition: color 300ms; /* Safari */
}
#menu3 li:hover {
    color: green;
}

#menu4 { 
    display:none;
}
#menu4 > div {
    float: left;
}
#menu4 .btn {
    padding: 0;
}
.ui-slider-horizontal {
    height: .5em !important;
}
#currentValue {
    font-size: .8em;
    color: #3FA9F5;
}
#collection {
    text-align: left;
    padding: 10px;
    min-width: 20%;
    float: right;
    display: inline-flex;
    position: absolute;
    right: 10px;
}
#collection ul {
    display: none;
    margin-top: 1em;
}

#collection li { 
    text-align: left;
}

.mb1 {
    margin-bottom: 10px;
}

.h2 {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#collection h2 {
    width: 50%;
}

#contenuPanier {
    padding: 0 0 20px;
    width:100%;
}

#panier {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    overflow: visible;
    background-image: url('../img/panier.png');
}

#nombreItemPanier {
    position: absolute;
    display: none;
    top: 13px;
    margin-left: 5px;
    width: 18px;
    height: 15px;
    padding-top: 3px;
    border-radius: 16px;
    font-size: 8px;
    text-align: center;
}

#empty {
    display: none;
    font-size: 80%;
    font-style: italic;
}
#filled {
    display: none;
}

#contenuPanier li {
    position: relative;
    padding:10px;
    min-height: 15px;
    line-height: 1.6em;
    font-family: "Panorama Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal;
}

#menuAjouter {
    display: block;
    /* position: absolute; */
    /* top: 20px; */
    /* width: 220px; */
    height: 180px;
    height: 0;
    /* margin-left: -72px; */
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
    opacity: 0;
    -webkit-transition: all 500ms ease-out;
    font-family: "Panorama Light", sans-serif; font-weight:normal; font-style:normal; font-variant:normal;
    z-index: 999999;
}

#menuAjouter h2 {
    color: white !important;
}

.ajouterFont {
    cursor: pointer;
}

[name=addCart]:hover {
    cursor: pointer;
    opacity: .7;
}

#menuAjouter ul {
    display: block;
    margin-top: 15px;
    overflow: hidden;
    -webkit-transition: all 500ms ease-out;
}


#menuAjouter li {
    padding: 8px 0;
    font-size: 80%;
}

#resultat:hover #menuAjouter {
    height: auto;
    opacity: 1;
}

#resultat span.conteneur {
    margin-top: -1rem;
    display: block;        
}

.btnSupprimer {
    display: none;
    position: absolute;
    top: 0;
    left: -40px;
    width: 18px;
    padding: 10px 11px 10px 10px;
    min-height: 15px;
    cursor: pointer;
    text-align: center;
    background-color: #FFF;
    color: #EB1D25;
}

.btnSupprimer:hover {
    background-color: #EB1D25;
    color: white;
}


#contenuPanier ul a:hover li .btnSupprimer  {
    display: block;
}

/*
a.slants:before {
content: "2";
color: rgba(39, 39, 39, 0.74);
font-size: 30px;
position: relative;
display: inline;
float: left;
left: 5px;
top: -3px;
font-family: "Panorama SemiCondensed-Ultra";
}
*/
a.slants li:after {
    content: "(+italic)";
    margin-left: 5px;
    color: #3FA9F5;
}

/*
a.famille:before {
content: "16";
color: rgba(39, 39, 39, 0.74);
font-size: 30px;
position: relative;
display: inline;
float: left;
left: 5px;
top: -3px;
font-family: "Panorama SemiCondensed-Ultra";
}
*/
a.famille li:after {
    content: "(pack)";
    margin-left: 5px;
    color: red;
}
#contenuPanier ul a.famille:hover li:after {
    color: white;
}

#contenuPanier ul a {
    display: block;
    position: relative;
}

#contenuPanier ul a li {
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-duration: 1s;
    transition-property: all;
    transition-duration: 1s;
    position: relative;
    background-color: #fff;
}

#contenuPanier ul a:hover li {
    background-color: #FF1D25;
    color: white;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 200ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 200ms;
    transition-property: background-color;
    transition-duration: 200ms;
}

#conteneurLiveTest {
    display: none;
    position: relative;
    /* height: calc(100% - 140px); */
    /* overflow-x: hidden; */
    /* padding-top: 140px; */
}


#conteneurGlyphes {
    z-index: 100;
    position: fixed;
    bottom: 0;
    height: 25%;
    border: 1px solid #1E1E1E;
    overflow: auto;
    background-color: #000;
}

#conteneurGlyphes li {
    float: left;
    width: 70px;
    height: 55px;
    padding-top: 15px;
    border-right: 1px solid #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
}

#conteneurGlyphes li:hover, .corps:hover {
    background-color: #EB1D25;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 200ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 200ms;
    transition-property: background-color;
    transition-duration: 200ms;
}

#testeur {
    width:100%;
    height: 100%;
    outline: none;
    overflow: visible;
    position: relative;
    float: right;
}



.hover_transition {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    background-color: transparent;
    cursor:pointer;
}

.hover_transition:hover {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 300ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 300ms;
    transition-property: background-color;
    transition-duration: 300ms;
    background-color: #F00;
}

#corps {
    margin: 0 20px;
}



#enteteLiveTest {
    padding: 50px;
    background-color: rgba(15,15,15,.5);
    margin-bottom: 30px;
}

#defaultSlider {
    width: 90%;
}

#ui_fonttesteur {
    display: inline-table;
    /* padding: 10px 0; */
    width: 100%;
}

#ui_fonttesteur span {
    
}
#ui_fonttesteur .btn-left,
#ui_fonttesteur .btn {
    min-width: 0;
    margin-right: 40px;
}

#ui_fonttesteur img {
    margin-right: 8px;
}
.btn-color {
    position: relative;
}
.btn-left .preview {
    min-width: 10px;
    min-height: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: -2px;
}
#btn-fond .preview {
    background-color: #0F0E0F;
}
#btn-font .preview {
    background-color: #FFF;
}
.define_color {
    width: 100%;
    display: none;
    position: absolute;
    top: -130px;
    min-width: 150px;
}

.picker-wrapper {
    width: 90%;
    height: 120px;
    position: relative;
    float: right;
}
.slider-wrapper {
    width: 10%;
    height: 120px;
    position: relative;
    float: right;
}
.picker-indicator {
    width: 5px;
    height: 5px;
    position: absolute;
    border: 2px solid white;
}
.slider-indicator {
    width: 90%;
    height: 6px;
    position: absolute;
    border: 1px solid black;
}

.testeurTextarea {
    position: relative;
    left: 50px;
    outline: 0px solid transparent;
    font-size: 36px;
    line-height: 1.4;
    float: left;
    width: 90%;
}


#addLine, .btn-tester {
    background-color: red;
    padding: 10px 20px;
    border: 0px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 50px;
    /* margin-bottom: 500px; */
}
#addLine:hover, .btn-tester:hover {
    opacity: .9;
}

.btn-tester {
    margin-top: 0;
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

.line {
    position: relative;  
    padding: 10px 0;
}

.options {
    position: relative;
    z-index: 1000;
    top: 50px; 
    margin-top: -30px;
    right:-1000px;
    transition: all 500ms;
    -webkit-transition: all 500ms; /* Safari */
    /* height: 50px; */
}

.line[data-focus=true]:hover .options {
    right:50px;
}

#checkout:hover,
.toggleCart:hover {
    color: #dc0a00;
    cursor: pointer;
}

.delete {

}
/*
[data-focus] {
    border-right: 10px solid transparent;
}
*/
[data-focus=true] {
    background-color: rgba(240,240,240,.6);
    transition: border 500ms;
    -webkit-transition: border 500ms; /* Safari */
}


.about {
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99999999999;
}
.openAbout:hover,
.closeAbout:hover {
    cursor: pointer;
    color: black;
}

.panneau {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99999998;
    width: 50%;
}

.gauche {
    left: 0;
    top: 10000px;
    opacity: 0;
}

.droite {
    right: 0;
    bottom: 10000px;
    opacity: 0;
}

.panneau_contenu {
    z-index: 9999999999;
    position: fixed;
    padding: 2em;
    padding-top: 4em;
    color: #fff !important;
    top: 15%;
    left: 15%;
    right: 15%;
    height: 40%;
    display: none;
    font-size: 2.5em;
}

.closeAbout {
    position: absolute;
    top: 0;
    right: 0;
}

